<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
  <h1>About</h1>
  <p>
    The <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial</em></a> is
    a book and a screencast series to teach web development with  Ruby on Rails.
    This is the sample application of the tutorial.
  </p>
  </body>
</html>
